---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
  <p class="has-line-data" data-line-start="0" data-line-end="1">I am a Ph.D. Student at at the <a href="https://s3d.cmu.edu">Software and Societal Systems Department</a> at <a href="https://www.cmu.edu/">Carnegie Mellon University</a> and at <a href="https://www.lasige.pt/">LASIGE</a> at the <a href="https://ciencias.ulisboa.pt/">Faculdade de Ciências da Universidade de Lisboa</a>. I am working under the supervision of <a href="https://wiki.alcidesfonseca.com/">Alcides Fonseca</a> and at University of Lisbon, and <a href="http://www.christimperley.co.uk/">Chris Timperley</a> at Carnegie Mellon. I have a special interest in program analysis, program repair, evolutionary computation and robotic systems.</p>
  <p class="has-line-data" data-line-start="2" data-line-end="3">Currently, I am working on the verification, detection and repair of component misconfigurations in robotic systems.</p>
    <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
